*{margin: 0;}

.FundoImagem {
    display: flex; /* Aqui eu estou tornando o meu conteúdo flex = flexível */
    height: 100vh; /* Aqui eu defini a altura da imagem de fundo, Vh é V = view, H = height que significa altura */
    background-image: url(../Simulador/fundo.png); /* Baixei uma imagem de fundo e chamei ela pelo caminho de pastas */
    background-size: cover; /* Aqui eu falo pra minha imagem de fundo cobrir a tela inteira no tamanho certo */
    justify-content: center; /* Aqui eu estou mandando todo meu conteúdo ficar no meio, tudo que fica dentro da img de fundo  */
  }

  .ContainerTitulo{
    text-align: center; /* Dentro desse container a gente tem apenas o título, e eu alinho o texto no centro */
    height: 35px; /* Dou uma altura pro container */
  }

  .Titulo{
    color: rgb(99, 36, 11); /* Dando a cor do título de marrom */
    font-size: 35px; /* Dando tamanho para a fonte(letra) do título */
    margin-top: 35px; /* Dando uma margem na parte de cima, assim ele vai se afastar do começo(parte de cima) da página */
  }

  .Container{
    display: flex; /* Aqui eu estou tornando o meu conteúdo flex = flexível */
    flex-direction: row; /* Aqui estou ordenando que a direção dele seja row = em linha */
    align-items: center; /* Alinhando todos itens do container (as duas partes brancas) no centro */
  }

  .ContainerFundoBranco {
    position: absolute; 
    top: 15vh;
    padding-top: 30px;
    align-items: center; /* Alinhando todos itens do container (as duas partes brancas) no centro */
    background-color: white;
    border-radius: 30px 0px 0px 30px; /* Aqui estou falando que quero uma borda com raio */
    height: 73vh; /* Dando altura para o fundo branco */
    width: 24vw; /* Dando largura para o fundo branco */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Chamando um tipo de fonte(letra) */
    font-weight: bolder; /* Deixando a letra em negrito b de bold/bolder */
    box-shadow: rgba(0, 0, 0, 0.418) 0px 7px 7px;/* Colocando uma sombrinha no fundo branco */
  }

  .CaixaInput{
    margin-left: 13vh;
  }

  .input {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid rgb(94, 37, 10); /* Dando uma borda nos input, a parte marrom de 2px */
    width: 25vh;
  }

  .ContainerBotao{
    padding-left: 5vh;
  }

  .Botao{
    padding: 5px;
    background-color: #6B4226;
    color: #e4e2e2;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer; /* o cursor vira uma mãozinha quando mira no botão */
    box-shadow: 0 0 0 2px #6B4226;
  }

  .FundoBrancoMensagem{
    margin-top: 3.7vh;
    margin-left: 53vh;
    padding: 30px;
    padding-bottom: 15px; /* dando padding (margem interna) na parte de baixo */
    align-items: center;
    background-color: white;
    border-radius: 0px 30px 30px 0px;
    height: 70.6vh;
    width: 54vw;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.418) 0px 10px 12px;
  }