@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}


.header {
    background-color: #171614;
    /* position: fixed; */
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;

}

.header .container {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container li {
    display: inline;
    padding: 40px;
    align-items: center;
}

.buttonTodas {
    text-decoration: none;
    color: white;
}

.logo {
    align-items: center;
    width: 80px;
}

.logo2{
    align-items: flex-start;
    width: 80px;

}

.buttonLogin{
    text-decoration: none;
    color: #ffd700;
}


body {
    overflow-x: hidden;

}

#homeIndex .imagem_principal {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('./imagens/Renanzinhoo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

.imagem_principal h1 {
    background: none;
    color: white;
    font-size: 40px;
}

.titulo_empresa {
    background-color: #171614;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.titulo_empresa h1 {
    background: none;
    color: white;
    font-size: 30px;
}

.sobre_empresa img {
    height: 80vh;
    width: 50vw;
    float: left;
    margin-right: 7%;
}

.conteudo_empresa {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 10px;
    margin-top: 5%;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.conteudo_empresa h2 {
    color: #171614;
    margin-bottom: 20px;

}

.conteudo_empresa p {
    margin-bottom: 20%;
    font-size: 20px;
}


/* TELA NOSSO SERVIÇO */



#TelaNossoServiço {
    margin-top: 34.3%;
    border-top: 60px solid #171614;
    border-bottom: 60px solid #171614;
}



.titulo1 {
    color: #171614;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;

}

.quadrado_esquerda {
    background-color: #171614;
    height: 90vh;
    width: 45%;
    position: absolute;
    left: 55%;
}

.quadrado_direita {
    background-color: #F8F5EC;
    height: 90vh;
    width: 55%;


}

.container1 {
    width: 70%;
    height: 10%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 15%;
}

.topicos {
    font-size: 20px;
    width: 40%;
    margin: 0 5%;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

.topicos2 {
    font-size: 20px;
    width: 500px;
    position: absolute;
    margin-left: 10%;
    font-family: 'Poppins', sans-serif;

}

.container2 {
    width: 70%;
    height: 10%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 25%;
}

.cafe {
    margin-top: 1460px;
    width: 400px;
    height: 400px;
    border: #F8F5EC solid 20px;
    position: absolute;
    left: 48%;
    top: 30%;
}

.titulo_empresaa {
    background-color: #c95c25;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.titulo_empresaa h1 {
    background: none;
    color: white;
    font-size: 30px;
}

.conteudo_empresaa {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 10px;
    margin-top: 5%;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.conteudo_empresaa h2 {
    color: #171614;
    margin-bottom: 20px;

}

.conteudo_empresaa p {
    margin-bottom: 20%;
    font-size: 20px;
}

.sobre_empresaa img {
    height: 80vh;
    width: 50vw;
    float: left;
    margin-right: 7%;
}



/* TELA INICIAL 2 */

.box img {
    width: 100px;
}

.box2 img {
    width: 600px;
}

.social .container .boxes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #c95c25;

}

.box {
    width: 280px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.box h2 {
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}

.box2 {
    width: 280px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2 p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.box2 h2 {
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}


/* box para os valores ficarem alinhados */

.boxValores {
    width: 280px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxValores p {
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.boxValores p {
    align-items: center;

}

.boxValores img {
    width: 180px;
}

.boxValores h2 {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

/* fim box valores */


.footer {
    height: 80px;
    width: 100%;
    background-color: #171614;
    color: #fff;
  }
  
  .footer img {
    margin: 0;
    width: 60px;
  }
  
  .footer .containerr {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 90vh;
  }
  
  .footer .containerr .version {
    font-size: 20px;
    font-weight: 800;
  }
  