@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    background-color: #e7eaf0;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #e7e4de ;
    padding-left: 380px;
    border-bottom: 4px solid #171614;
}

.titulo {
    font-size: 25px;
    color: #d8b804;
}

body{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
  
  }
  
  #imgPerfil{
    height: 100px;
    width: 120px;
    margin-bottom: 5px;
  }
  
  #menuLateral{
    height: 100%;
    width: 22%;
    background-color: #171614;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    padding-top: 2%;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-itens {
    margin-top: 30px
  }
  
  .item{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 220px;
    border-bottom: solid white 1px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  #menuLateral a{
    padding: 16px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    cursor: pointer;
    width: fit-content;
  }
  
  #menuLateral a span {
    padding-right: 25px;
  }
  
  #menuLateral p{
    font-size: 28px;
    color: white;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  
  .buttonSair {
    margin-top: 45px;
  }
  
  #conteudoPrincipal{
    margin-left: 23%;
  }
  
   .imagem{
    height: 170vh;
    width: 100%;
    background-image: url('https://ogimg.infoglobo.com.br/in/3443034-656-16b/FT1086A/neymar.jpg');
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
   } 

  .caixa{
    display: block;
    justify-content: center;
    /* border: red solid 2px; linha guia da div */
    width: 80vh;
    font-size: 20px;
  }

  #div_mensagem{
    font-size: 30px;
    width: 100vh;
  }

  h2{
    color: #000000
  }

  #ipt_time{
    background-color: #F8F5EC;
    border-radius: 5px;
    border: 2px solid #5C5B5B;
    width: 40%;
    height: 30px;
    font-size: 15px;
    padding-left: 20px;

  }

  .buttonTime{
    width: 180px;
    height: 35px;
    background-color:#171614;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border: none;


  }
  